.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4em;
  margin: 6em 6em;
}

.image-container {
  grid-column-start: 1;
  width: 100%;
}

.image-container img {
  width: 100%
}

.text-container {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 4em;
}

.product-description {
  opacity: 0.6;
  margin: 4em 2px;
}

.product-price {
  font-size: 2em;
  font-weight: 800;
}

.add-cart-button {
  width: 5em;
  color: white;
  background-color: black;
  margin-top: 3em;
  padding: 1em 0;
  width: 11em;
  font-size: 1em;
  border: unset;
  border-radius: 4px;
}
