.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  color: white;
  height: 7em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-text {
  margin: 1em;
  font-size: 1em;
}
