.featured-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 5em;
}

.featured-products-title {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 1em;
}

.featured-products-title::after {
    content: '';
    border: 1px black solid;
    width: 1em;
    display: block;
    margin: 1em auto 0 auto;
}

.featured-products-description {
    width: 60%;
    opacity: 0.6;
    font-size: 17px;
    text-align: center;
    line-height: 1.7;
}

.shop-all-button {
    color: white;
    background-color: black;
    margin-top: 3em;
    padding: 12px 10px;
    width: 11em;
    font-size: 1em;
    border: unset;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}